.grid-container {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    /* padding: 2rem; */
}

#welcome-picture {
  /*   background-color: blue; */
   /*  padding: 4rem; */
    margin: 3rem;
    grid-column: 1/3;
    grid-row: 3
}

#product-item1 {
   /*  background-color: blueviolet; */
   /*  padding: 8rem; */
    grid-column: 1/2;
    grid-row: 4;
    margin: 3rem;
}

#product-item2 {
   /*  background-color:brown; */
    /* padding: 8rem; */
    grid-row: 4;
    margin: 3rem;
}

#intro-video {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 0;
}

.navbar {
    grid-column: 1/3;
    grid-row: 2;
}

#wrapper {
    background-color:#C9BDB1;
}

.overlay {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 1;
    width: 50%;
    margin: auto;
}

#overlay1 h1 {
    font-size: 120px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: white;

}

#overlay2 h1 {
    padding-top: 200px;
    font-size: 50px;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    color: white;    

}



/* 

font-family: 'Calligraffitti', cursive */;